// Crunch Colors
$color-purple:                     #dc4c81;
$color-blue:                       #9078d7;
$color-green:                      #ae61c4;
$color-white:                      #ffffff;
$color-off-black:                  #090050;
$color-orchid-darker:              #ac1c51;
$accent-first:                     #ff6352;
$accent-second:                    #00b7b4;
$accent-third:                     #aea8bb;

// 7 shades of grey
$color-grey-lighest:               #f9f9f9;
$color-grey-ligher:                #f1f1f1;
$color-grey-light:                 #efefef;
$color-grey-normal:                #e5e5e5;
$color-grey-dark:                  #d3d3d3;
$color-grey-darker:                #cccccc;
$color-grey-darkest:               #bbbbbb;

// text colors
$font-color-dark-grey:             #444444;
$font-color-off-black:             #1D1D26;
$font-color-light-grey:            #888;
$font-color-lighter-grey:          #aaa;

// percent
$darker-color-percent:             10%;

// css variables for primary colors used in the application
$--primary-color: $color-blue;
$--secondary-color: $color-green;
$--message-color: $color-purple;

$--darker-primary-color: #432b8a;
$--light-primary-color: #ad97ed;
$--lighter-primary-color: #d6c8ff;

$--darker-secondary-color: darken($color-green, $darker-color-percent);
$--light-secondary-color: desaturate(lighten($color-green, 30%), 50%);
$--lighter-secondary-color: desaturate(lighten($color-green, 80%), 50%);

$--darker-message-color: darken($color-purple, $darker-color-percent);
$--light-message-color: desaturate(lighten($color-purple, 30%), 50%);
$--lighter-message-color: desaturate(lighten($color-purple, 80%), 50%);
